<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Wiadomość od <%= @name %></h1>

<h3>Treść wiadomości:</h3>
<p><%= @message %><br>

<p>Wiadomość pochodzi od <%= @email %></p>
</body>
</html>