@mixin br($value) {
  border-radius: $value;
  -moz-border-radius: $value;
  -webkit-border-radius: $value;
}

.navbar-nav {
  li {
    a {
      padding-top: 25px !important;
      padding-bottom: 25px !important;
      padding-left: 25px !important;
      padding-right: 25px !important;
      text-decoration: none;
      font-size: 16px;
      color: black;
      -moz-transition: background-color 1s;
      -webkit-transition: background-color 1s;
      transition: background-color 1s;

      &:hover {
      background-color: yellowgreen !important;
      }
      &:focus {
      }
      .active {
        &:focus {
        }
        &:hover {
        }
      }
    }
  }
}

.navbar {
  border-width: 0 !important;
  padding-left: 30px;
  padding-right: 30px;
  min-height:40px !important;
  margin: 0 !important;
}

#owl-slide .item {
  display: block;
  width: 100%;
  height: auto;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  display: none;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 45px;
  top: 50%;
  z-index: 666;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 45px;
  top: 50%;
  z-index: 666;
}