<div class="container" style="padding-top: 50px; padding-bottom: 50px">
  <div class="row">
    <div class="col-md-3 col-md-offset-2 col-xs-6">
      <ul>
        <li><h4>Start</h4></li>
        <li><h4>Sekcja 1</h4></li>
        <li><h4>Sekcja 2</h4></li>
        <li><h4>Sekcja 3</h4></li>
        <li><h4>Sekcja 4</h4></li>
      </ul>
    </div>
    <div class="col-md-3 col-xs-6">
      <ul>
        <li><h4>Blog (Galeria)</h4></li>
        <li><h4>Rejestracja</h4></li>
        <li><h4>Logowanie</h4></li>
        <li><h4>Napisz Opinię</h4></li>
      </ul>
    </div>
    <div class="clearfix visible-sm-block visible-xs-block"></div>
    <div class="col-md-3 col-xs-12">
      <ul class="hidden-sm hidden-xs">
        <li><h4>Adres:</h4></li>
        <li><h4>ul. Towarowa 1/2</h4></li>
        <li><h4>28-300 Warszawa</h4></li>
        <li><h4>KRS: 24643432642425</h4></li>
      </ul>
      <ul class="hidden-lg hidden-md" style="padding-top: 30px">
        <li><h4>Adres:</h4></li>
        <li><h4>ul. Towarowa 1/2</h4></li>
        <li><h4>28-300 Warszawa</h4></li>
        <li><h4>KRS: 24643432642425</h4></li>
      </ul>
    </div>
  </div>
</div>